@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: "Gilroy";
  src: url("../src/font/Gilroy-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/font/Gilroy-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/font/Gilroy-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/font/Gilroy-ExtraBold.ttf");
  font-weight: 800;
}

body {
  margin: 0;
  font-family: 'Gilroy', 'Inter', 'Manrope', 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
